.section_about-me {
	background: url(../img/bg-about.jpg) no-repeat center top;
	background-size: cover;
}

.section__title_works-me {
    padding: 65px 0;
	background: #faf8f0;
}

.section__title_about-me {
	padding: 65px 0;
}

.window_contact {
	display: block;
	margin-bottom: 70px;
	text-align: center;
	background: url(../img/bg-form.jpg) no-repeat top;
	background-size: cover;
}

.window__wrapper_contact {
	background: rgba(255, 255, 255, .05); 
}

.window-nav__list,
.contact-nav__list {
	display: table;
	width: 100%;
}

.window-nav__item,
.contact-nav__item {
	display: table-cell;
	font-size: 16px;
	border-right: 2px solid rgba(255, 255, 255, .85);

	&:last-child {
		border: none;
	}
}

.contact__title {
	margin-bottom: 40px;
}

.contact-nav__item {
	width: 50%;
}

.window-nav__link,
.contact-nav__link {
	display: block;
	padding: 10px 28px;
	color: #fff;
	background: rgba(0, 191, 165, .85);
	// opacity: 0.85;
	@include transition(.3s);

	&:hover {
		// background: $darkGreen;
		background: rgba(0, 150, 136, .85);
	}
}

.contact-form__box {
	position: relative;
	height: 45px;
	width: 340px;
	font-size: 0;
	overflow: hidden;
}

.contact-form__input {
	margin-bottom: 20px;
	@include inline-block(middle);
	@include border-radius(5px);
}

// .contact-form__pic {
// 	height: 100%;
// 	width: 14%;
// 	background: $yellow;
// }

// .contact-form__pic_login {

// 	&:before {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		top: 14px;
// 		left: 14px;
// 		width: 20px;
// 		height: 20px;
// 		background: url(../img/svg/login.svg) no-repeat;
// 	}
// }

// .contact-form__pic_password {

// 	&:before {
// 		content: "";
// 		display: block;
// 		position: absolute;
// 		top: 14px;
// 		left: 14px;
// 		width: 20px;
// 		height: 20px;
// 		background: url(../img/svg/password.svg) no-repeat;
// 	}
// }

.contact-form__input {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: $darkGrey;
}

.contact-form__textarea {
	min-height: 140px;
	width: 100%;
	border: none;
	@include border-radius(5px);
    resize: none;
}

.review {
	width: 800px;
    margin: 0 auto 70px;
}

.review__list {
	font-size: 0;
}

.review__item {
	width: 50%;
	@include inline-block(top);
	font-size: 16px;
}

.review__desc {
    margin-bottom: 24px;
	color: $grey;
}

.review__author {
	color: $green;
}

.review__author-avatar {
	width: 80px;
	height: 80px;
    margin-right: 20px;
    @include inline-block(middle);
	background: $green;
	overflow: hidden;
	@include border-radius(50%); 
}

.review__author-pic {
	width: 100%;
}

.review__author-content {
	@include inline-block(middle);
	font-size: 0;
}

.review__author-name {
	font-size: 16px;

	span {
	    font-weight: bold;
	}
}

.review__author-desc {
	font-size: 16px;
}

