.hero {
	position: relative;
	height: 100vh;
    min-height: 500px;
	background: url(../img/bg-page.jpg) no-repeat center top;
	background-size: cover;
}

.header {
	padding: 30px 0;
}

.header__socials {
	float: left;
}

.header__menu {
	float: right;
}

.author_hero {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.author__name_hero {
	width: 100%;

	h1 {
		color: #fff;
	}
}

.author__desc_hero {
	span {
		color: #fff;
	}
}

.hero__arrow {
	position: absolute;
	bottom: 70px;
	left: 0;
	right: 0;
	margin: auto;
	height: 20px;
	width: 30px;
	background: url(../img/svg/arrow_down.svg) no-repeat center top;
	opacity: .7;
	cursor: pointer;
	@include transition(.3s);

	&:hover {
		opacity: 1;
	}
}