.header-login {
	// position: absolute;
	// top: 0;
	// width: 100%;

	padding: 24px 20px; 
}

.login {
	float: right;
}

.login__btn {
	border: 1px solid #fff;
	padding: 12px 25px;
	background: none;
	color: #fff;
	@include border-radius(5px);
}

.main-login {

}

.window {
	width: 380px;
	margin: 0 auto;
	// padding-top: 40px;
	// background: rgba(252, 252, 252, .85);
    overflow: hidden;
	@include inlineblock(middle);
	@include border-radius(5px);
}

.window__wrapper {
	padding: 40px 20px;
	background: rgba(252, 252, 252, .85);
}

.author {
	margin: 0 0 30px;
	text-align: center;
}

.author__avatar {
	width: 140px;
	height: 140px;
    margin: 0 auto 20px;
	background: #e2e2e2;
	@include border-radius(50%); 
}

.author__name {
	width: 320px;
    margin: 0 auto;
}

.window__title {

	h1 {
		margin: 0 0 10px;
		font-size: 28px;
		line-height: 1.3;
		color: $grey;
	}

}

.author__desc {
	span {
		color: $grey;
	}
}

.socials {
	// margin: 0 0 30px;
}

.socials__item {
	width: 31px;
	height: 31px;
    margin-right: 25px;
	@include inlineblock(middle);

	&:last-child {
		margin: 0;
	}

}

.socials__link {
	display: block;
	text-indent: -9999px;
	height: 100%;
	width: 100%;
	opacity: .5;
	@include transition(.3s);
}

@each $social in (vk, gh, ln) {
	.socials__link_#{$social} {
		background: url('../img/svg/#{$social}.svg') no-repeat;
		
		&:hover {
			// background: url('../img/footer/icons/#{$social}-hover.png') 0 0 no-repeat;
			opacity: 1;
		}
	}
}

.socials__link_vk {
	background-position: 0 5px;
}

.socials__link_gh {
	background-position: 0 4px;
}

.socials__link_ln {
	background-position: 0 0;
}

.window-nav__list,
.authorization-nav__list {
	display: table;
	width: 100%;
}

.window-nav__item,
.authorization-nav__item {
	display: table-cell;
	font-size: 16px;
	border-right: 2px solid rgba(255, 255, 255, .85);

	&:last-child {
		border: none;
	}
}

.authorization__title {
	margin-bottom: 40px;
}

.authorization-nav__item {
	width: 50%;
}

.window-nav__link,
.authorization-nav__link {
	display: block;
	padding: 10px 28px;
	color: #fff;
	background: rgba(0, 191, 165, .85);
	// opacity: 0.85;
	@include transition(.3s);

	&:hover {
		// background: $darkGreen;
		background: rgba(0, 150, 136, .85);
	}
}

.authorization-form__box {
	position: relative;
	height: 45px;
	width: 340px;
	margin-bottom: 20px;
	font-size: 0;
	overflow: hidden;
	@include border-radius(5px);
}

.authorization-form__pic,
.authorization-form__input {
	@include inline-block(middle);
}

.authorization-form__pic {
	height: 100%;
	width: 14%;
	background: $yellow;
}

.authorization-form__pic_login {

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 14px;
		left: 14px;
		width: 20px;
		height: 20px;
		background: url(../img/svg/login.svg) no-repeat;
	}
}

.authorization-form__pic_password {

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 14px;
		left: 14px;
		width: 20px;
		height: 20px;
		background: url(../img/svg/password.svg) no-repeat;
	}
}

.authorization-form__input {
	height: 100%;
	width: 86%;
	font-size: 16px;
	color: $darkGrey;
}

.checkbox {
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	overflow: hidden;
	cursor: pointer;
}

.checkbox_margin-right {
	margin-right: 40px;
}

.checkbox__input {
	position: absolute;
	@include inlineblock(middle);
	top: 0;
	left: -200px;
}

.checkbox__input:checked + .checkbox__fake {

	&.checkbox__fake {
	    background: $green;
	    border: none;
	}

	&:before {
		display: block;
	}
}

.checkbox__input:checked + .checkbox__fake_radio {

	&.checkbox__fake {
	    background: #fff;
	    border: 1px solid #ccc;
	}

	&:before {
		display: block;
	}
}

.checkbox__fake {
	position: relative;
	@include inlineblock(middle);
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #ccc;
	background: rgb(255, 255, 255);
	@include border-radius(2px);

	&:before {
		content: "";
		display: none;
		position: absolute;
		top: 3px;
		left: 1px;
		width: 20px;
		height: 20px;
		background: url(../img/svg/check.svg) no-repeat;
	}
}

.checkbox__fake_radio {
	background: rgb(255, 255, 255);
	@include border-radius(50%);

	&:before {
		top: 5px;
		left: 5px;
		width: 8px;
		height: 8px;
		background: $green;
		@include border-radius(50%);
	}
}

.checkbox__text {
	@include inlineblock(middle);
	max-width: 200px;
    color: rgba(69, 90, 100, 0.8);
}

.cheked-robot {
	margin-bottom: 18px;
	color: rgba(69, 90, 100, 0.8);
}

.footer-login {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-login;
	margin-top: -$footer-login;
}