section.section.section_slider
    .slider
       .slider__desc
            .slider__desc-content
                .slider__title
                    h3 
                        | Сайт школы онлайн образования
                .slider__skills
                    span
                        | HTML, CSS, JavaScript
                a(class="slider__link" href="#")
                    img(class="slider__link-img" src="../img/svg/link.svg")
                    span.slider__link-desc
                        | Посмотреть сайт                                             